<h2><center>Register Animal For Adoption</center></h2>

<form action="/animals" method="post">
  <label>
  Animal name:
    <input type="text" name="animal_name">
  </label>

  <label>
  Species:
    <input type="text" name="species">
  </label>

  <label>
  Breed:
    <input type="text" name="breed">
  </label>

 

  <label>
  Admission Date:
  <input type="Date" name="admission_date">
</label>

<label>
Adoption Status:
<input type="text" name="adoption_status">
</label>

<input type="submit" value="Submit form">


</form>