<!DOCTYPE html>
<html>
<head>
  <title> Scottish Animal Shelter</title>
</head>

<body>
  <nav>
    <ul>
      <li>
        
      </li>
      <li>
        
      </li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>