<h1>Register New Owner</h1>

<form action = "/owners" method= "post">

  <label>
    <p>Full name:
    <input type="text" name="full_name" /></p>
  </label>
  <label>
    <p> Choice Of Animal
    <select name = "chosen_animal">
    <option value ="dog"> Dog</option>
    <option value = "crocodile">Crocodile</option>
    </select></p>
  </label>

  <input type="submit" value="Submit Form" />
  </form>